@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');


body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
}

main{
    margin: 0;
    padding: 0;    
    width: 100%;
}

header{
    /* margin: 0.5%;
    padding-left: 1%;
    width: 100%; */
}

/* nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
} */

#logoOnTop{
    width: 80%;
}

.logoSite{
    width: 80px;
    margin:0.5%;
}

#navBar{
    display: flex;
    width: 75%;
    justify-content: flex-end;
}

#ulNavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    font-weight: bold;
    margin:0;
}


h1{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-left: 2%;
}

h2{
    margin-bottom: 2%;
}

article{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    margin-left: 2%;
}

#barreDeRecherche{
    margin-left: 3%;
}

form{
    display: flex;
}

#gpsImgBackground{
    background-color: #F2F2F2;
    width: 50px;
    height: 45px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
}

.fa-map-marker-alt{
    font-size: 20px;
    margin-top: 23%;
}

#locationText{
    border-left: none;
    border-right: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding-right: 15%;
    padding-left: 3%;
    font-size: 20px;
    color: black;
}

#boutonRechercher{
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding:3.5%
}

#rechercherToast{
    display: none;
}

input{
    padding: 1%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#sectionFiltre{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    justify-content: space-around;
    width: 100%;
}

#sectionFiltre a{
    text-decoration: none;
    color: black;
    padding: 0 1em 0 0.5em;
    display: flex;
}

#sectionFiltre a:active{
    color: black;
}


.liFiltre{
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #F2F2F2;
    align-items: center;
    display: flex;
    margin:1%;
    /* margin-left: 5%; */
}

.liFiltre:hover{
    background-color: #0065FC;
}

/* .iconFiltre{
    background-color: #DEEBFF;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    padding-top: 8px;
    color: #0065FC;
} */

.categorieFiltre{
    display: flex;
    flex-direction: row;
    margin-left: 0.5%;
    width: 95%;
    flex-wrap: wrap;
    margin-top: 2%;
}

#padFiltre{
    padding-top: 5%;
    margin-left: 2%;
}

.flexFiltre{
    display: flex;
}

#infoDispo{
    display: flex;
    align-items: center;
    margin:3%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#infoImg{
    width: 15px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    object-fit: cover;
}

#hebergementListeSection{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-bottom: 2%;
    width: 100%;
}

/* .hebergementListeSectionImg{
    width: 270px;
    height: 140px;
    padding: 1%;
    border-radius: 25px 25px 0px 0px;
} */

.hebergementListeSectionImg{
    /* width: 375px;
    height: 200px; */
    object-fit: cover;
    width: 99%;
    height: 150px;
    padding: 0.1%;
    margin-left: 0.4%;
    border-radius: 25px 25px 0px 0px;
}

#hebergementListe{
    display: flex;
    border-radius: 25px 25px 25px 25px;
    /* padding: 0.5%; */
    width: 100%;
    font-weight: bold;
    flex-direction: column;
}

#hebergementListeLigne1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#hebergementListeLigne2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hebergementCard{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 10px;
    padding: 0.3%;
    padding-bottom: 1%;
    margin: 1%;
    border-radius: 25px 25px 25px 25px;
    align-items: left;
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    height: 85%;
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
}

.etoilesSection{
    display: flex;
    flex-direction: row;
    margin-left: 1.5%;
    padding-bottom: 3%;
}

.etoiles{
    width: 10px;
    height: 10px;
}

#hebergementPopulaire{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 100%;
    height: 650px;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
}

.nomHotel{
    font-weight: 900;
    font-size: 15px;
}

.prixHotel{
    font-size: 13px;
}

#lesPlusPopulaires{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    vertical-align: middle;
}

.toast2{
    margin-top: 4.5%;
    margin-right: 5%;
}

.titrePremierGroupe{
    margin-left: 3%;
    margin-top: 2%;
    font-size: 20px;
    font-weight: bolder;
}

.titrePremierGroupe2{
    margin-left: 3%;
    font-size: 17px;
    font-weight: bolder;
    padding-bottom:5%;
    padding-top: 5%;
}

.hebergementCard2{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0.5%;
    border-radius: 15px 15px 15px 15px;
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    width: 90%;
    justify-content: space-between;

}

/* .hebergementCard3{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 1%;
    border-radius: 15px 15px 15px 15px;
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    width: 90%;
} */

.imageHebergement2{
    width: 30%;
    display: flex;
}

.imageHebergement2 img{
    object-fit: cover;
    width: 130px;
    height: 150px;
    border-radius: 15px 0px 0px 15px;
}

.infoHebergement2{
    display: flex;
    flex-direction: column;
}

#activitesMarseilleListe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    justify-content: center;
    margin-left: 5%;
}

.nomActivites{
    padding: 4%;
    font-weight: bold;
}

#vieuxPort{
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 3%;
}

#vieuxPort img{
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
}

#fortEtFrioul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#fortDePomegues{
    width: 100%;
    height: 100px;
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 30%;
    margin-bottom: 3%;
}

#fortDePomegues img{
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
}

#ilesDuFrioul{
    width: 100%;
    height: 150px;
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 15%;
    margin-bottom: 3%;
}

#ilesDuFrioul img{
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
}

#parcNationalCalanques{
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 3%;
}

#parcNationalCalanques img{
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
}

#notreDameEtLongchamp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3%;
}

#notreDame{
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 3%;
}

#notreDame img{
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    height: 150px;
}

#longchamp{
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 3%;
}

#longchamp img{
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    height: 150px;
}

footer{
    align-items: left;
    width: 100%;
    background-color: #F2F2F2;
}

#footerNav{
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

#aPropos{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 5%;
}

#nosHebergements{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

#assistance{
    display: flex;
    flex-direction: column;
}

#footerNav ul{
    padding:0%;
}

#footerNav li{
    margin-top: 5%;
}

#footerNav a{
    text-decoration: none;
    color: black;
}

#footerNav a:active{
    text-decoration: none;
    color: black;
}

#footerNav a:visited{
    text-decoration: none;
    color: black;
}

#hebergementListeSection a:active{
    color: black;
    text-decoration: none;
}

#hebergementListeSection a:visited{
    color: black;
    text-decoration: none;
}

#hebergementListeSection a{
    text-decoration: none;
    color: black;
}

#activitesMarseilleListe a{
    text-decoration: none;
    color: black;
}

#activitesMarseilleListe a:visited{
    text-decoration: none;
    color: black;
}

#activitesMarseilleListe a:active{
    color: black;
    text-decoration: none;
}

.imgIconFiltre{
    align-items: center;
    margin-top: 0.3em;
    margin-left: 0.5em;
}

.iconFiltreBackground{
    display: inline;
    width: 2.6em;
    height: 2.6em;
    background-color: #DEEBFF;
    border-radius: 50%;
    align-items: center;
    margin-left: -0.2em;
    /* margin-top: -0.3em;
    margin-left: -0.5em */
}

#mobileNav{
    display: none;
}

#nav1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.belowImgCard{
    margin-left: 3%;
    margin-top: 1.5%;
}

.nextToImgCard{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    width: 90%;
    overflow-wrap: break-word;
    margin-left: auto;
}

.sectionEtoiles{
    margin-top:15%;
    font-size: 10px;
}

.prixPopulaire{
    font-size: 13px;
    color: grey;
    font-weight: normal;
    margin-top: 10%;
}

.fa-money-bill-wave{
    color: #0065FC;
    margin-top: 30%;
    margin-left: 25%;
}

.fa-child{
    color: #0065FC;
    margin-top: 25%;
    margin-left: 30%;
    font-size: 20px;
}

.fa-heart{
    color: #0065FC;
    margin-top: 30%;
    margin-left: 25%;
    font-size: 20px;
}

.fa-dog{
    color: #0065FC;
    margin-top: 15%;
    margin-left: 15%;
    font-size: 25px;
}

.fa-info{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    padding:1.5%;
    padding-right: 3%;
    padding-left: 3%;
    border-radius: 50% 50% 50% 50%;
}

.flexTest{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.flexTest div:nth-child(1){
    order: 1;
}

.flexTest div:nth-child(2){
    order: 3;
}

.flexTest div:nth-child(3){
    order: 4;
}

.flexTest div:nth-child(4){
    order: 2;
}

.flexTest{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexTest div{
    width: 50%;
}

.flexTest img{
    width: 50%;
}

.fa-star{
    color: #0065FC;
}

.grise{
    color: gray;
}

#logoHeader{
    width: 50%;
}

#logoHeader img{
    width: 50%;
}

#menuHeader div:nth-child(1){
    order:2;
}

#menuHeader div:nth-child(2){
    order:3;
}

#menuHeader div:nth-child(3){
    order:1;
}

#menuHeader{
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap-reverse;
    border-bottom: 2px solid #F2F2F2;
    width: 100%;
}

#divSinscrire{
    width: 50%;
    margin-left: 65%;
    margin-bottom: 15%;
    margin-top: 5%;
}

#menuFlexTest{
    margin-right: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.header-element3{
    margin-left: 60%;
    color: #0065FC;
}

#hebergementMenu{
    border-bottom: 2px solid #F2F2F2;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    margin-top: 5%;
}

#activiteMenu{
    border-bottom: 2px solid #F2F2F2;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    margin-top: 5%;
}

#sinscrireMenu{
    display: flex;
    align-items: center;
}

#sinscrireMenu a{
    color: #0065FC;
    font-weight: bold;
}

#hebergementMenu:hover{
    border-bottom: 2px solid #0065FC;
}

#activiteMenu:hover{
    border-bottom: 2px solid #0065FC;
}

.flexTest a{
    text-decoration: none;
    color: black;
}

.flexTest a:hover{
    color: #0065FC;
}

li{
    list-style: none;
}