@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');


body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

header{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

main{
    margin:0.5%;
    padding-left: 1%;
}

#logoOnTop{
    width: 80%;
}

.logoSite{
    width: 80px;
    margin:0.5%;
}

#navBar{
    display: flex;
    width: 75%;
    justify-content: flex-end;
}

#ulNavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    font-weight: bold;
    margin:0;
}

li{
    list-style: none;
}

.liNavBar{
    display: flex;
    align-items: center;
}

h1{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

h2{
    margin-bottom: 2%;
}

article{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

form{
    display: flex;
}

#gpsImgBackground{
    background-color: #F2F2F2;
    width: 50px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
}

.fa-map-marker-alt{
    font-size: 20px;
    margin-top: 35%;
}

#locationText{
    border-left: none;
    border-right: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

#boutonRechercher{
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-size: 13px;
    font-weight: bolder;
    padding-top: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#boutonRechercher:hover{
    cursor:pointer;
    background-color: #DEEBFF;
    color: #0065FC;
}

input{
    padding: 1%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#sectionFiltre{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    justify-content: space-around;
    width: 45%;
    padding: 1%;
}

#sectionFiltre a{
    text-decoration: none;
    color: black;
    padding: 0 1em 0 0.5em;
    display: flex;
}

#sectionFiltre a:active{
    color: black;
}


.liFiltre{
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #F2F2F2;
    align-items: center;
    display: flex;
    margin-left: 5%;
}

.liFiltre:hover{
    background-color: #0065FC;
}

.categorieFiltre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 6%;
    width: 100%;
}

#padFiltre{
    padding-top: 1%;
}

.flexFiltre{
    display: flex;
}

#infoDispo{
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

#infoImg{
    width: 15px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    object-fit: cover;
}

#hebergementListeSection{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.hebergementListeSectionImg{
    object-fit: cover;
    width: 99%;
    height: 150px;
    padding: 0.1%;
    border-radius: 25px 25px 0px 0px;
}

#hebergementListe{
    display: flex;
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 25px 25px 25px 25px;
    padding: 0.5%;
    font-weight: bold;
    flex-direction: column;
}

#hebergementListeLigne1{
    display: flex;
    justify-content: space-around;
}

#hebergementListeLigne2{
    display: flex;
    justify-content: space-around;
}

.hebergementCard{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 10px;
    padding: 0.3%;
    padding-bottom: 1%;
    margin: 1%;
    border-radius: 25px 25px 25px 25px;
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    width: 27%;
    height: 85%;
}

.etoilesSection{
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
}

.etoiles{
    width: 10px;
    height: 10px;
}

#hebergementPopulaire{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 27%;
    border-radius: 25px 25px 25px 25px;
    padding: 0.5%;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
}

.nomHotel{
    font-weight: 900;
    font-size: 20px;
}

.prixHotel{
    font-size: 13px;
    color: grey;
    font-weight: lighter;
}

#lesPlusPopulaires{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    vertical-align: middle;
}

.toast2{
    margin-top: 4.5%;
    margin-right: 5%;
}

.titrePremierGroupe{
    margin-left: 3%;
    margin-top: 2%;
    font-size: 20px;
    font-weight: bolder;
}

.titrePremierGroupe2{
    margin-left: 3%;
    font-size: 17px;
    font-weight: bolder;
    padding-bottom:5%;
    padding-top: 5%;
}

.hebergementCard2{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0.5%;
    border-radius: 15px 15px 15px 15px;
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    width: 90%;
    justify-content: space-between;
}

.hebergementCard2 a{
    display: flex;
    width: 100%;
}

.imageHebergement2{
    width: 30%;
    display: flex;
}

.imageHebergement2 img{
    object-fit: cover;
    width: 130px;
    height: 150px;
    border-radius: 15px 0px 0px 15px;
}

.infoHebergement2{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 11%;
}

#activitesMarseilleListe{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    justify-content: space-around;
}

.nomActivites{
    padding: 4%;
    font-weight: bold;
}

#vieuxPort{
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    width: 22%;
    border-radius: 15px 15px 15px 15px;
}

#vieuxPort img{
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 15px 15px 0px 0px;
}

#fortEtFrioul{
    width: 22%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#fortDePomegues{
    width: 100%;
    height: 300px;
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    border-radius: 15px 15px 15px 15px;
}

#fortDePomegues img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
}

#ilesDuFrioul{
    width: 100%;
    height: 230px;
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    border-radius: 15px 15px 15px 15px;
}

#ilesDuFrioul img{
    object-fit: cover;
    width: 100%;
    height: 185px;
    border-radius: 15px 15px 0px 0px;
}

#parcNationalCalanques{
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    width: 22%;
    border-radius: 15px 15px 15px 15px;
}

#parcNationalCalanques img{
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 15px 15px 0px 0px;
}

#notreDameEtLongchamp{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#notreDame{
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}

#notreDame img{
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    height: 210px;
}

#longchamp{
    box-shadow:1px 1px 32px -5px rgba(0,0,0,0.76);
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}

#longchamp img{
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    height: 210px;
}

footer{
    width: 100%;
    background-color: #F2F2F2;
}

#footerNav{
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 30%;
    margin-left: 4%;
}

#footerNav ul{
    padding:0%;
}

#footerNav li{
    margin-top: 5%;
}

#footerNav a{
    text-decoration: none;
    color: black;
}

#footerNav a:hover{
    text-decoration: underline;
}

#footerNav a:active{
    text-decoration: none;
    color: black;
}

#footerNav a:visited{
    text-decoration: none;
    color: black;
}

#hebergementListeSection a:active{
    color: black;
    text-decoration: none;
}

#hebergementListeSection a:visited{
    color: black;
    text-decoration: none;
}

#hebergementListeSection a{
    text-decoration: none;
    color: black;
}

#activitesMarseilleListe a{
    text-decoration: none;
    color: black;
}

#activitesMarseilleListe a:visited{
    text-decoration: none;
    color: black;
}

#activitesMarseilleListe a:active{
    color: black;
    text-decoration: none;
}

.imgIconFiltre{
    align-items: center;
    margin-top: 0.3em;
    margin-left: 0.5em;
}

.iconFiltreBackground{
    display: inline;
    width: 2.6em;
    height: 2.6em;
    background-color: #DEEBFF;
    border-radius: 50%;
    align-items: center;
    margin-left: -0.2em;
}

#mobileNav{
    display: none;
}

#nav1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.belowImgCard{
    margin-left: 3%;
    margin-top: 1.5%;
}

.nextToImgCard{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.sectionEtoiles{
    margin-top:2%;
    font-size: 10px;
}

.prixPopulaire{
    font-size: 13px;
    color: grey;
    font-weight: normal;
    margin-top: 1%;
}

.fa-money-bill-wave{
    color: #0065FC;
    margin-top: 30%;
    margin-left: 25%;
}

.fa-child{
    color: #0065FC;
    margin-top: 25%;
    margin-left: 30%;
    font-size: 20px;
}

.fa-heart{
    color: #0065FC;
    margin-top: 30%;
    margin-left: 25%;
    font-size: 20px;
}

.fa-dog{
    color: #0065FC;
    margin-top: 20%;
    margin-left: 15%;
    font-size: 22px;
}

.fa-info{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    padding:0.2%;
    padding-right: 0.5%;
    padding-left: 0.5%;
    border-radius: 50% 50% 50% 50%;
}

.fa-search{
    display: none;
}

.flexTest{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.fa-star{
    color: #0065FC;
}

#loupeRechercher{
    display: none;
}

.grise{
    color: gray;
}

.navTest{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    
}

.navTest img{
    width: 100%;
}

#menuHeader{
    display:flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    margin-right: 1%;
}

#menuHeader div{
    padding-top: 10.5%;
    font-weight: bolder;
}

#logoHeader{
    width: 5%;
    margin-left: 1.35%;
    padding-top: 1%;
}

#menuHeader a{
    color: rgb(31, 31, 31);
    text-decoration: none;
}

#menuHeader a:visited{
    color: rgb(31, 31, 31);
    text-decoration: none;
}

#menuHeader a:active{
    color: rgb(31, 31, 31);
    text-decoration: none;
}

#menuHeader a:hover{
    color: #0065FC;
}

#sinscrire a:active{
    color: #0065FC;
}

#sinscrire a:visited{
    color: #0065FC;
}

#divLogoHeader{
    width: 75%;
    margin-left: 1.35%;
}

#divLogoHeader img{
    width: 7%;
}

#hebergementMenu{
    margin-right: 3%;
    margin-top: 1%;
}

#activiteMenu{
    margin-right: 3%;
    margin-top: 1%;
}

#sinscrireMenu{
    margin-top: 1%;
}

#menuHeader div:hover{
    border-top: 2px solid #0065FC;
}

.flexTest a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.flexTest a:active{
    text-decoration: none;
}

#hebergementMenu{
    padding-top: 0.5%;
}

#hebergementMenu:hover{
    border-top: 2px solid #0065FC;
}

#hebergementMenu a:hover{
    color: #0065FC;
}

#sinscrireMenu{
    padding-top: 0.5%;
}

#sinscrireMenu:hover{
    border-top: 2px solid #0065FC;
}

#sinscrireMenu a{
    color: #0065FC;
}

#activiteMenu{
    padding-top: 0.5%;
}

#activiteMenu:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

#activiteMenu a:hover{
    color: #0065FC;
}

#divLogoHeader{
    padding-top: 0.5%;
}

h4{
    font-weight: 500;
}

.nomHotel2{
    font-weight: 900;
    font-size: 15px;
}

.nomHotel3{
    font-weight: 900;
    font-size: 20px;
    width: 50%;
}

#animauxDiv{
    width: 75%;
}

